[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
sanic = "*"
aiomysql = "*"
peewee-async = "*"
aiohttp = "*"
python-consul = "*"

[requires]
python_version = "3.6"
